body{background: rgb(142,140,140);
    background: linear-gradient(90deg, rgba(142,140,140,1) 0%, rgba(169,169,170,1) 100%, rgba(0,212,255,1) 100%);
    /* height: auto;
    width: auto; */
}

.calculator{
    text-align: center;
    margin: 25px auto;
    align-items: center;
    padding: 25px;
    width: 300px;
    background-color: #4E4F50;
    border-radius: 2%;
    box-shadow: 0px 0px 5px 3px rgba(80,73,73,0.75);
    -webkit-box-shadow: 0px 2px 5px 3px rgba(80,73,73,0.75);
    -moz-box-shadow: 0px 2px 5px 3px rgba(80,73,73,0.75);
}
.calculator-screen{
    width: 100%;
    height: 100%;
    background-color: #252525;
    color: white;
    text-align: right;
    font-size: 42px;
    border: none;
    padding: 20px 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.62) inset;
    -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.62) inset;
    -moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.62) inset;
}
.calculator-keys{
    width: 100%;
}
.row{
    display: flex;
}
button{
    height: 60px;
    background-color: rgb(72, 72, 72);
    border: 1px solid black;
    font-size: 32px;
    color: white;
    width: 25%;
    outline: none;
    margin: 5px 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.62);
    -webkit-box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.62);
    -moz-box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.62);
}
button:active{
    box-shadow: 0px 1px 5px 2px rgba(0,0,0,0.62) inset;
    -webkit-box-shadow: 0px 1px 5px 2px rgba(0,0,0,0.62) inset;
    -moz-box-shadow: 0px 1px 5px 2px rgba(0,0,0,0.62) inset;
}
.operator, .percentage{
    color: orange;
}
button:hover{
    background-color: darkgray;
}
.operator:hover, .percentage:hover{
    background-color: darkorange;
    color: white;
}
zero-btn, .all-clear{
    width: 55%;
}
.all-clear{
    background-color: rgb(172, 6, 6);
}
.all-clear:hover{
    background-color: rgb(201, 66, 66);
}
.equal-sign{
    background-color: rgb(255, 120, 0);
}
.equal-sign:hover{
    background-color: rgb(255, 80, 0);
}

@media all and (max-width: 670px){
    .calculator{
        width: 250px;
    }
    
    .zero-btn, .all-clear{
        width: 56%;
    }
}
